<div class="row thumbnail">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-8 text-left postInformation">
                <div class="infoPostAuthor"
                     ng-if="post.author.username !== loggedUser.username"
                     ng-mouseenter="getUserPreview(post.author.username)">

                        <a href="#/user/{{post.author.username}}" class="postAuthorLink">
                            <img ng-src="{{post.author.profileImageData || defaultProfileImage}}" class="img-rounded"/>
                            {{post.author.username}}
                        </a>
                        <div class="postAuthorPreviewDiv"
                             ng-include="'partials/user/userPreview.html'"
                             showhideonhover>

                        </div>
                </div>
                <span ng-if="post.author.username === loggedUser.username" class="postAuthorLink">
                    <img ng-src="{{post.author.profileImageData || defaultProfileImage}}" class="img-rounded"/>
                    You
                </span>
                <span>
                    posted on
                </span>
                <span ng-if="loggedUser.username === post.author.username">
                    your
                </span>
                <span ng-if="post.author.username === post.wallOwner.username && loggedUser.username !== post.author.username">
                    <span ng-if="post.author.gender === 0"> own </span>
                    <span ng-if="post.author.gender === 1"> his </span>
                    <span ng-if="post.author.gender === 2"> her </span>
                </span>
                <div class="infoWallOwner"
                     ng-if="post.author.username !== post.wallOwner.username"
                        ng-mouseenter="getUserPreview(post.wallOwner.username)">
                    <a href="#/user/{{post.wallOwner.username}}" class="postOwnerLink">
                        <img ng-src="{{post.wallOwner.profileImageData || defaultProfileImage}}" class="img-rounded"/>
                        {{post.wallOwner.username}}'s
                    </a>
                    <div class="postWallOwnerPreviewDiv"
                         ng-include="'partials/user/userPreview.html'"
                         showhideonhover>

                    </div>
                </div>
                <span>
                    wall
                </span>
            </div>
            <div class="col-xs-1 col-xs-offset-3 text-center postEdit">
                <div class="dropdown">
                    <span class="glyphicon glyphicon-chevron-down btn dropdown-toggle"
                          type="button"
                          id="dropdownMenu"
                          data-toggle="dropdown"
                          aria-expanded="true">

                    </span>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                        <li role="presentation"><a href="#/editpost" role="menuitem">Edit Post</a></li>
                        <li role="presentation"><a href="" role="menuitem" ng-click="deletePost(post.id)">Delete Post</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <p>{{post.date | date}}</p>
    </div>
    <div class="col-xs-12" id="postContentDiv">
        <div class="row">
            <div class="col-xs-12 thumbnail" id="postContent">
                <div>{{post.postContent}}</div>
            </div>
            <div class="col-sm-8 text-right" id="postLikes">
                <ul ng-init="getPostDetailedLikes(post.id)" class="likes text-left">
                    <li ng-repeat="user in userLikes" class="inline">
                        <a href="#/user/{{user}}/">
                            {{user}}
                        </a>
                    </li>
                    <li class="inline" ng-if="postDetailedLikes.length > 0">
                        and
                            <span class="btn-link">
                                {{postDetailedLikes.length}} more
                                <ul class="nav postDetailedLikesList" showhideonhover>
                                    <li ng-repeat="userLike in postDetailedLikes">
                                        <a href="#/user/{{userLike}}/">
                                            {{userLike}}
                                        </a>
                                    </li>
                                </ul>
                            </span>
                    </li>
                    <li class="inline" ng-if="userLikes.length > 0">likes this</li>
                </ul>
            </div>
            <div class="col-xs-4 text-right">
                <span ng-if="post.wallOwner.isFriend || post.wallOwner.username == loggedUser.username">
                    <button ng-if="!post.liked" class="btn btn-success glyphicon glyphicon-thumbs-up" ng-click="likePost(post.id)" title="Like"></button>
                    <button ng-if="post.liked" class="btn btn-warning glyphicon glyphicon-thumbs-down" ng-click="unlikePost(post.id)" title="Unlike"></button>
                </span>
            </div>
        </div>
    </div>
</div>
