<div class="row thumbnail">
    <div class="col-xs-3 thumbnail text-center" id="postAuthorDiv">
        <img ng-src="{{post.author.profileImageData}}" alt=""/>
        <h4>{{post.author.username}}</h4>
        <p>{{post.date | date}}</p>
    </div>
    <div class="col-xs-8 col-xs-offset-1" id="postContentDiv">
        <div class="row">
            <div class="col-xs-12 thumbnail" id="postContent">
                <div>{{post.postContent}}</div>
            </div>
            <div class="col-xs-12 text-right" id="postLikes">
                <span>{{post.likesCount}}</span>
                <span ng-if="post.author.isFriend || post.author.username == loggedUser.username">
                    <button ng-if="!post.liked" class="btn btn-success glyphicon glyphicon-thumbs-up" ng-click="likePost(post.id)" title="Like"></button>
                    <button ng-if="post.liked" class="btn btn-warning glyphicon glyphicon-thumbs-down" ng-click="unlikePost(post.id)" title="Unlike"></button>
                </span>
            </div>
        </div>
    </div>
</div>
