<table class="table table-striped userPreviewBox">
    <tr>
        <td><img ng-src="{{previewUser.profileImageData || defaultProfileImage}}" class="userPreviewImage"/></td>
        <td><h5>{{previewUser.username}}</h5></td>
    </tr>
    <tr>
        <td><h6>{{previewUser.name}}</h6></td>
        <td>
            <span ng-if="previewUser.gender === 1" class="icon-male"></span>
            <span ng-if="previewUser.gender === 2" class="icon-female"></span>
        </td>
    </tr>
    <tr ng-if="loggedUser.username !== previewUser.username">
        <td colspan="2" ng-controller="FriendsController">
            <div ng-if="previewUser.isFriend" class="btn btn-primary disabled">Friend</div>
            <div ng-if="previewUser.hasPendingRequest && !previewUser.isFriends" class="btn btn-warning disabled">Pending</div>
            <button ng-if="!previewUser.isFriend && !previewUser.hasPendingRequest" class="btn btn-success" ng-click="sendFriendRequest(previewUser.username)">
                Send friend request
            </button>
        </td>
    </tr>
</table>
