<div class="thumbnail">
    <ul class="nav" ng-if="!isLogged()">
        <li><a href="#/login/">Login</a></li>
        <li><a href="#/register/">Register</a></li>
    </ul>

    <ul class="nav" ng-if="isLogged()">
        <li><a href="#/">Home</a></li>
        <li><a href="#/user/{{loggedUser.username}}/">My Wall</a></li>
        <li><a href="#/profile/">Edit Profile</a></li>
        <li><a href="#/changepassword/">Change Password</a></li>
        <li><a href="#/" ng-click="logout()">Logout</a></li>
    </ul>

</div>

<div class="thumbnail" ng-if="isLogged()">
    <h4><a href="#/">Friends</a></h4>
</div>