<nav  class="navbar navbar-default navbar-static-top">
    <div class="container" ng-controller="NavigationController">
        <ul class="nav navbar-nav" ng-if="!isLogged()">
            <li><a href="#/">Hello Stranger</a></li>
        </ul>

        <ul class="nav navbar-nav" ng-if="isLogged()" id="topNavBar">
            <li>
                <a href="#/user/{{loggedUser.username}}">
                    <img ng-src="{{loggedUser.profileImageData || defaultProfileImage}}"
                         class="img-circle"
                         id="topNavProfileImage"/>
                    {{loggedUser.username}}
                </a>
            </li>
            <li class="dropdown" ng-controller="FriendsController">
                <a href=""
                   data-toggle="dropdown"
                   role="button"
                   aria-expanded="false"
                   class="dropdown-toggle glyphicon glyphicon-user btn navbar-btn">
                    <span class="friendsRequestsCount" ng-if="friendRequests.length > 0">
                        {{friendRequests.length}}
                    </span>
                </a>

                <ul ng-include="'partials/user/friendRequests.html'"
                    class="dropdown-menu"
                    role="menu">

                </ul>
            </li>
        </ul>

        <form class="navbar-form navbar-right" ng-if="isLogged()">
            <div class="input-group">
                <input type="search" role="search" class="form-control searchInput" ng-model="searchTearm" ng-change="searchUser(searchTearm)"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
                <div class="searchResult"
                     ng-include="'partials/user/searchResult.html'"
                     ng-if="searchTearm !== ''">

                </div>
            </div>
        </form>
    </div>
</nav>