form .row label{
    margin-top: 5px;
    text-align: right;
}

#coverImg img{
    width:90%;
    height: 200px;
}

#userInfo {
    padding: 5px;
}

#userInfo img{
    height: 150px;
}

#coverImagePreview {
    width: 250px;
    height: 120px;
}

#profileImagePreview {
    width: 100px;
    height: 100px;
}

#imagesSelection > div {
    padding: 5px;
}

input[type=file] {
    display: none;
}

#topNavBar a {
    padding: 5px;
    vertical-align: text-bottom;
    font-size: 16px;
}

#topNavProfileImage {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#addPostField {
    resize: none;
    box-shadow: 0 0 2px #4c4cff;
}

#post {
    padding-left: 35px;
    padding-right: 35px;
}

#postContent {
    height: 130px;
}

#postContent > div{
    width: 100%;
    height: 100%;
    padding: 5px;
    word-wrap: break-word;
    overflow:auto;
}

#post > div {
    -webkit-box-shadow: 0 0 20px #204d74;
    -moz-box-shadow: 0 0 20px #204d74;
    box-shadow: 0 0 20px #204d74;
}

#post > div > div {
    padding-top: 5px;
    padding-bottom: 5px;
}

#postLikes > * {
    vertical-align: bottom;
}

#postLikes {
    margin-top: 10px;
    padding: 0;
}

#postLikes ul {
    padding: 0;
}

#postLikes > ul > li:nth-child(1), #postLikes > ul > li:nth-child(2), #postLikes > ul > li:nth-child(3) {
    margin-right: 5px;
}

#friendsBoxImage {
    width: 50%;
    max-width: 60px;
}

.friendPreview {
    display: none;
    position: absolute;
    top: -100px;
    left: 100px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #66afe9;
    -moz-box-shadow: 0 0 10px #66afe9;
    box-shadow: 0 0 10px #66afe9;
    z-index: 10;
}

.friendPreview table {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.userPreviewImage {
    width: 30px;
}

.inline {
    display: inline-block;
    vertical-align: bottom;
}

.likes {
    margin: 0;
    padding: 0;
}

.postDetailedLikesList, .commentDetailedLikesList{
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    top: -1px;
    background-color: white;
    box-shadow: 0 0 3px #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 10;
}

.postDetailedLikesList li{
    width: 120px;
    height: 30px;
}

.postDetailedLikesList li a{
    padding: 5px;
}

.userPreviewBox {
    width: 150px;
    height: 100px;
    margin: 0;
}

.userPreviewBox > button {
    width: 120px;
    height: 20px;
}

.userPreviewBox > div {
    width: 120px;
    height: 20px;
}

.postAuthorPreviewDiv, .postWallOwnerPreviewDiv, .commentAuthorPreviewDiv {
    display: none;
    position: absolute;
    background-color: #FFF;
    -webkit-box-shadow: 0 0 15px #AAA;
    -moz-box-shadow: 0 0 15px #AAA;
    box-shadow: 0 0 15px #AAA;
    z-index: 50;
}

.postAuthorPreviewDiv {
    top: -140px;
    left: -10px;
}

.postWallOwnerPreviewDiv {
    top: -140px;
    left: 220px;
}

.friendRequest > a > * {
    display: inline-block;
}

.friendRequest img{
    width: 30%;
    max-width: 50px;
    max-height: 50px;
}

.friendsRequestsCount {
    font-size: 11px;
    position: absolute;
    background-color: #D83526;
    color: #FFFFFF;
    width: 65%;
    height: 65%;
    max-width:30px;
    max-height: 30px;
    -webkit-border-radius: 60%;
    -moz-border-radius: 60%;
    border-radius: 60%;
    text-align: center;
    left: 15px;
    top: 15px;
}

.loggedUserFriend li a img {
    max-width: 100px;
    max-height: 80px;
    width:250px;
}

.postAuthorLink, .postOwnerLink{
    font-size: 20px;
}

.postInformation {
    vertical-align: middle;
}

.infoPostAuthor{
    display: inline;
}

.infoWallOwner{
    display: inline;
}

.postInformation span {
    font-size: 20px;
}

.postAuthorLink img {
    width: 8%;
    display: inline !important;
}

.postOwnerLink img {
    width: 8%;
    display: inline !important;
}

.postEdit span {
    padding: 5px;
}

.searchResult {
    position: absolute;
    width: 82%;
    top: 100%;
    left: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px #AAA;
    z-index: 50;
}

.comment {
    margin: 10px;
    padding: 5px;
    -webkit-box-shadow: 0 0 5px #AAA;
    -moz-box-shadow: 0 0 5px #AAA;
    box-shadow: 0 0 5px #AAA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(100, 100, 100, 0.1);
}

.commentAuthorPreviewDiv {
    top: -550%;
}

.commentAuthorLink img {
    display: inline !important;
    width: 5%;
}

.commentContent {
    height: 70px;
    word-wrap: break-word;
    overflow:auto;
}

.commentLikes > ul{
    padding: 0;
}

.commentLikes > ul > li {
    margin-right: 5px;
}

.commentLikes > ul > li:nth-child(2), .commentLikes > ul > li:nth-child(3) {
    margin-right: 0;
}

.hiddenCommentUser {
    padding: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.infoCommentAuthor > div > div{
    display: inline;
}


