form .row label{
    margin-top: 5px;
    text-align: right;
}

#coverImg img{
    height: 200px;
}

#userInfo {
    padding: 5px;
}

#userInfo img{
    height: 150px;
}

#coverImagePreview {
    width: 250px;
    height: 120px;
}

#profileImagePreview {
    width: 100px;
    height: 100px;
}

#imagesSelection > div {
    padding: 5px;
}

input[type=file] {
    display: none;
}

#topNavBar a {
    padding: 5px;
    vertical-align: text-bottom;
    font-size: 16px;
}

#topNavProfileImage {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#addPostField {
    resize: none;
    box-shadow: 0 0 2px #4c4cff;
}