<div class="text-center" ng-if="!isLogged()" ng-include="'partials/guest/home.html'">

</div>

<div ng-if="isLogged()">
    <div ng-include="'partials/user/post/add-post.html'">

    </div>

    <div class="row" ng-repeat="post in newsFeed" ng-controller="PostController">
        <div class="col-xs-12" ng-include="'partials/user/post/post.html'" id="post">

        </div>
    </div>

    <div class="row" ng-if="feedsRecieved > currentHomePageSize">
        <div class="col-xs-12 text-right">
            <button class="btn btn-default" ng-click="loadMoreNews()">Load more posts..</button>
        </div>
    </div>
</div>