<div class="row infoCommentAuthor" ng-mouseenter="getUserPreview(comment.author.username)">
    <div class="col-xs-8">
        <a href="#/user/{{comment.author.username}}" class="commentAuthorLink">
            <img ng-src="{{comment.author.profileImageData || defaultProfileImage}}" class="img-rounded"/>
            {{comment.author.username}}
        </a>
        <span>
            commented
        </span>
        <div class="commentAuthorPreviewDiv"
             ng-include="'partials/user/userPreview.html'"
             showhideonhover>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-3 commentDate">
        {{comment.date | date}}
    </div>
    <div class="col-xs-9">
        <div class="thumbnail commentContent">
            {{comment.commentContent}}
        </div>
    </div>
</div>

<div class="row" ng-init="getCommentLikes(post.id, comment.id)">
    <div class="col-xs-10 commentLikes">
        <ul class="text-left">
            <li ng-repeat="commentUser in displayCommentLikes" class="inline">
                <a href="#/user/{{commentUser.username}}/">
                    {{commentUser.username}}{{$last ? ' ' : ', '}}
                </a>
            </li>
            <li class="inline" ng-if="restCommentLikes.length > 0">
                and
                <span class="btn-link">
                    {{restCommentLikes.length}} more
                    <ul class="nav postDetailedLikesList" showhideonhover>
                        <li ng-repeat="restCommentUser in restCommentLikes">
                            <a href="#/user/{{restCommentUser.username}}/">
                                {{restCommentUser.username}}
                            </a>
                        </li>
                    </ul>
                </span>
            </li>
            <li class="inline" ng-if="displayCommentLikes.length > 0">like this.</li>
        </ul>
    </div>
</div>