<div class="row">
    <div class="col-xs-12 thumbnail" id="postContent">
        <div>{{post.postContent}}</div>
    </div>
    <div class="col-sm-8 text-right" id="postLikes">
        <ul ng-init="getPostDetailedLikes(post.id)" class="likes text-left">
            <li ng-repeat="user in userLikes" class="inline">
                <a href="#/user/{{user}}/">
                    {{user}}
                </a>
                &nbsp;&nbsp;
            </li>
            <li class="inline" ng-if="postDetailedLikes.length > 0">
                and
                <span class="btn-link">
                    {{postDetailedLikes.length}} more
                    <ul class="nav postDetailedLikesList" showhideonhover>
                        <li ng-repeat="userLike in postDetailedLikes">
                            <a href="#/user/{{userLike}}/">
                                {{userLike}}
                            </a>
                        </li>
                    </ul>
                </span>
            </li>
            <li class="inline" ng-if="userLikes.length > 0">like this.</li>
        </ul>
    </div>
    <div class="col-xs-4 text-right">
        <span ng-if="post.wallOwner.isFriend || post.wallOwner.username == loggedUser.username">
            <button ng-if="!post.liked" class="btn btn-success glyphicon glyphicon-thumbs-up" ng-click="likePost(post.id)" title="Like"></button>
            <button ng-if="post.liked" class="btn btn-warning glyphicon glyphicon-thumbs-down" ng-click="unlikePost(post.id)" title="Unlike"></button>
        </span>
    </div>
</div>